@import "/vendor/filament/filament/resources/css/theme.css";

@config 'tailwind.config.js';

[x-cloak] {
    display: none !important;
}
.grid-image .filepond--item {
    width: calc(33.3% - 0.5em);
}
